form {
    padding: 0;
    margin: 0;
}
.form-group {
    display: block;
    margin: 10px 0;
}
.form-group input {
    padding: 5px;
}
.form-group label {
    margin-bottom: 10px;
}
.btns {
    display: flex;
}
.btns .edit_btn {
    background: green;
    color: #fff;
} 
.btns .cancel_btn {
    background: rgba(192, 22, 58, 0.986);
    color: #fff;
}
.btns button {
    width: 100%;
    padding: 9px;
    border: none;
    cursor: pointer;
}
